{#
/**
 * @file
 * Default theme implementation to display a formatted imagefield slideshow field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}
<div class="slideshow">
    {% for key,value in url %}
        <img src="{{ value }}" width="200" height="200" />
    {% endfor %}
</div>